# === Interface & visualisation ===
streamlit>=1.38
plotly>=6.0
streamlit-plotly-events>=0.0.6
kaleido>=0.2.1

# === Données & traitements ===
pandas>=2.2
numpy>=1.26
requests>=2.31
joblib>=1.4

# === Machine Learning ===
scikit-learn>=1.7

# === Export & génération de rapports ===
reportlab>=4.1
openpyxl>=3.1